.Main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 20rem;
  margin: 0px;
  padding: 0 0 0 0;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.imgerror {
  width: 30rem;
}
p{
  margin: 0px;
  padding: 0 0 0 0;
}